* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --hexagon_s: 20px;
    --position_y: calc(-127/100*var(--hexagon_s));
    --position_x: calc(-137/100*var(--hexagon_s));
}

body {
    background: #2a535e;
}



.space {
    display: inline-block;
    position: relative;
    margin-left: calc(42/100*calc(1.732*var(--hexagon_s)));
    margin-top: calc(140/100*var(--hexagon_s));
    height: 0px;
    width: 0px;
}

.newline {
    display: block;
}

.grid{
    height: 190px;
}


.hex4{
    display: inline-block;
    width: 0px;
  height: 0px;
  margin: 0 auto;
  position: relative;
  margin-top: calc(140/100*var(--hexagon_s));
  margin-left:calc(1.632*var(--hexagon_s));
  
  
  
}
.h1{
    top: var(--position_y);
    left: var(--position_x);
    width: var(--hexagon_s);
    height: calc(1.732*var(--hexagon_s));
    background-color: #6C6;
    position: absolute;
    cursor: pointer;
    transform: rotate(30deg);
    
  }
  
  .h2{
    top: var(--position_y);
    left: var(--position_x);
    position: absolute;
    width: var(--hexagon_s);
    height: calc(1.732*var(--hexagon_s));
    background-color: #6C6;
    
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    cursor: pointer;
  }
  
  .h3{
    top: var(--position_y);
    left: var(--position_x);
    position: absolute;
    width: var(--hexagon_s);
    height: calc(1.732*var(--hexagon_s));
    
    background-color: #6C6;
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    cursor: pointer;
  }
