* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --hexagon-width: 100px;
}

body {
    background: #2a535e;
}



.space {
    display: inline-block;
    position: relative;
    width: 84px;
    height: 180px;
}

.newline {
    display: block;
}

.grid{
    height: 190px;
}


.hex4{
    display: inline-block;
    width: 53.4px;
  height: 10px;
  margin: 0 auto;
  position: relative;
  margin-right: 60px;
  margin-top: 140px;
  margin-left:60px;
  
  
  
}
.h1{
    top: -110px;
    left: -24px;
    width: 100px;
    height: 173.2px;
    background-color: #6C6;
    position: absolute;
    cursor: pointer;
    transform: rotate(30deg);
    
  }
  
  .h2{
    top: -110px;
    left: -24px;
    position: absolute;
    width: 100px;
    height: 173.2px;
    background-color: #6C6;
    
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    cursor: pointer;
  }
  
  .h3{
    top: -110px;
    left: -24px;
    position: absolute;
    width: 100px;
    height: 173.2px;
    
    background-color: #6C6;
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    cursor: pointer;
  }
